$itemPadding: 10px 11px 10px 11px
$selectedColor: #FB4D53
$buttonBorder: 1px solid gray
$buttonBorderSelect: 1px solid #FB4D53
$itemspace: 0 11px 0 11px

@mixin display_justify()
  

page
  background-color: #f7f7f7
  font-size: 15px
  line-height: 24px
  .this_container
    width: 100%
    .shop_page
      width: 100%
      height: 500px
      .shop_title
        width: 100%
        background: -webkit-linear-gradient(left, #d94b44, #ed7b61)
        .backBTN_container
          width: 100%
          position: fixed
          z-index: 1
          background: -webkit-linear-gradient(left, #d94b44, #ed7b61)
        .backforward
          position: fixed
          font-family:"iconfont" !important
          margin-left: 10px
          font-size: 24px
          color: white
          z-index: 3
        .shop_img
          width: 37px
          height: 37px
          float: left
        .shop_name
          color: white
          font-size: 17px
          line-height: 37px
          margin-left: 47px
      .shop_info
        padding: 0 13px 10px 13px
        display: flex
        font-size: 12px
        .month_sail
          flex: 1
          color: white
          // margin: 0 12px
          .sail_title
            float: left
          .sail_count
            border-radius: 20rpx
            background: white
            float: left
            color: #FB4D53
            width: 37px
            height: 13px
            margin-top: 6px
            line-height: 13px
            text-align: center
            margin-left: 6px
            font-size: 10px
.scroll-view-vertical
    width: 100%
    height: 814px
.audio-fixed
    background-color: white 
    position: fixed
    top: 80px
    width: 750rpx

.audio-fixed-son
    background-color: white 
    position: fixed
    top: 125px
    width: 750rpx

.item-content-justify
    margin-top: 84px

.title_container
  // width: 100%
  height: 44px
  padding: 80px 13px 0 13px

.adaptiveCSS
  height: 44px
  padding: 60px 13px 0 13px

.item-list
    background-color: rgb(247, 247, 247)

.top
    width: 100%
    text-align: center
    line-height: 42px
    white-space: nowrap
    position: relative
    background: #fff
.tab-bar-container
  text-align: left
  border-bottom: 1px solid #F2f1f1
  color: #626161
  .tabbar
    font-size: 14px
    margin: 0 15px
    display: inline-block
    font-weight: bold
//.tabbar
//    width: 180rpx
//    font-size: 14px
//    height: 79rpx
//    display: flex


.tabbar-bottom
    color: #FB4D53
    border-bottom: 2px solid #FB4D53
    font-weight: bold

.sub-category
  text-align: left
.sub-category-item
    display: inline-block
    text-align: center
    font-size: 14px
    width: 60px
    border-radius: 10px
    margin: 0 17px
    color: #B3B3B3
    height: 20px
    line-height: 20px

.sub-category-item.selected
    color: #101010
    font-size: 14px
    // border: 1px solid #FB4D53

.item-content
    display: flex
    flex-wrap: wrap

    .item-container
      height: 250px
      border-radius: 0
      background-color: white
      color: #101010
      font-size: 14px
      text-align: center
      flex: 0 0 46%
      display: flex
      flex-direction: column
      box-sizing: border-box
      border: 1px solid rgb(242,241,241)
      margin: 8px 7px 8px 7px
      border-bottom: 0
      &:nth-last-child(2)
        border-bottom: 1px solid rgb(242,241,241)
      &:nth-last-child(1)
        border-bottom: 1px solid rgb(242,241,241)
      &:nth-child(odd)
        border-left: 0
      &:nth-child(even)
        border-right: 0
        border-left: 0
      .image-container
        flex: 1
      .item-title
        flex: 0 0 40px
        text-overflow: ellipsis
        line-height: 20px
        color: #101010
        font-size: 13px
        text-align: left
        font-family: SourceHanSansSC-regular
        display: -webkit-box
        -webkit-box-orient: vertical
        -webkit-line-clamp: 2
        white-space: normal
        overflow: hidden
        font-weight: bold

      .item-price

        padding-top: 5px
        flex: 0 0 20px
        line-height: 20px
        color: #fb4d53
        font-size: 15px
        text-align: left
        font-family: SourceHanSansSC-bold
        font-weight: bold
      .item-tag
        flex: 0 0 14px

      .item-comment
        flex: 1
        font-size: 12px
        padding-top: 6px
        line-height: 20px
        color: rgb(168, 162, 162)
        text-align: right
        font-family: SourceHanSansSC-regular
      .item-shop
        line-height: 1
        text-align: left
        padding-top: 6px
      .image-container
        image
          width: 100%
          height: 160px 

.item-shop

    color: rgb(168, 162, 162)
    font-size: 10px
    text-align: left
    font-family: SourceHanSansSC-regular
    white-space: nowrap
    width: 125px
    overflow: hidden
    text-overflow: ellipsis
    //.shop-name
    //
    //.enter-shop
    //  font-size: 10px
    //  text-align: left
    //  font-family: SourceHanSansSC-regular
    //  float: right
    //  padding: 5px
    //  line-height: 2px
.item_info_container
    padding: 4px 6px 6px 4px

.priceAndSell
    display: flex

.item-tag
    span:first-child
      float: left
      background-color: #fb4d53
      color: white
      border-radius: 3px
      font-size: 8px
      width: 22px
      height: 14px
      line-height: 14px
    span:last-child
      float: left
      // background-color: #fb4d53
      color: #fb4d53
      border-radius: 3px
      font-size: 8px
      width: 30px
      height: 14px
      line-height: 14px
      margin-left: 5px

.bottom_bar
    position: fixed
    background: white
    width: 100%
    height: 80px
    bottom: 0
    text-align: center
    font-size: 12px
    color: #707070
    .bottom_container
      display: flex
      .bottom_selection
        flex: 1
        display: flex
        flex-direction: column
        .bottom_icon
          font-family:"iconfont" !important
          font-size: 26px
          line-height: 33px
          margin-top: 9px

        .selection_title
