@font-face {
  font-family: 'iconfont';  /* project id 1546894 */
  src: url('//at.alicdn.com/t/font_1546894_02rwuvc7xkoc.eot');
  src: url('//at.alicdn.com/t/font_1546894_02rwuvc7xkoc.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1546894_02rwuvc7xkoc.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1546894_02rwuvc7xkoc.woff') format('woff'),
  url('//at.alicdn.com/t/font_1546894_02rwuvc7xkoc.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1546894_02rwuvc7xkoc.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 13px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon22fuzhi:before {
  content: "\e603";
}

.icon-daifukuan:before {
  content: "\e60b";
}

.icon-shouhou:before {
  content: "\e70b";
}

.icon-daishouhuo:before {
  content: "\e61d";
}

.icon-shangcheng:before {
  content: "\e604";
}

.icon-daipingjia:before {
  content: "\e630";
}

.icon-daifukuan:before {
  content: "\e606";
}


