$shippingOptionHeight: 80px
$shippingPageMargin: 10px

$selectedColor: #FB4D53

$ten: 10px
$thirteen: 13px

page
  background-color: #f7f7f7
.shipping-method
  .shipping-option-wrapper
    height: $shippingOptionHeight
    padding: $shippingPageMargin
    background-color: white
    position: relative
    .d4
      bottom: -1px
      transition: all .4s ease-in-out
      &.seller
        left: 40px
      &.self
        left: 130px
    .text
      font-size: 13px
      margin-left: 6px
    .shipping-option
      font-size: 13px
      display: flex
      padding-top: 13px
      .choice
        width: 80px
        height: 30px
        margin-right: 8px
        line-height: 30px
        border-radius: 2px
        text-align: center
        border: 1px solid rgba(166, 164, 164, 1)
        &.selected
          color: $selectedColor
          border: 1px solid $selectedColor

  .goods-wrapper
    .title
      padding: $ten
      font-size: $thirteen
    .image-wrapper
      margin: 0 0 0 $ten
      padding-bottom: $ten
      display: flex
      border-bottom: .5px solid #d6d6d6
      .image
        width: 60px
        height: 60px
        margin-right: $ten
        img
          width: 100%
          height: 100%
    .desc
      //transition: all .3s ease-in-out

      padding: $ten
      font-size: 12px
      color: #b5b5b5
      height: 20px
      border-bottom: .5px solid #d6d6d6
      .place
        padding-bottom: 6px
      .option1
        position: relative
      .option2
        opacity: 0

  .bottom-operate
    padding: 0 8px
    box-sizing: border-box
    position: fixed
    height: 50px
    width: 100%
    display: flex
    align-items: center
    background: rgb(255,255,255)
    bottom: 0
    text-align: center
    .money
      display: flex
      align-items: center
      position: absolute
      right: 140px
      font-size: 13px
      span
        color: rgb(255,67,60)
        font-weight: bold

    .checkout
      background-color: rgb(255,67,60)
      color: white
      position: absolute
      right: 0
      height: 100%
      width: 120px
      display: flex
      justify-content: center
      align-items: center
      font-size: 13px
